
body {
    background-color: #0F0D19;
    min-width: 300px; /* your desired width */
    max-width: 100%;
    min-height: 285px;
    max-height: 100%;
}

button {
    height: 40px;
    width: 200px;
  margin: 0 auto;
  display: block;
}

h2 {
    display: inline-block;
    color: #eee;
    }
img {
    height: 50px;
    width: auto;
    vertical-align: middle;
    }

.divider{
    width: auto;
    height: 10px;
    display:inline-block;
}
.divider2{
    width: auto;
    height: 10px;
    display:inline-block;
}
.divider3{
    width: auto;
    height: 30px;
    display:inline-block;
}
